@import url(../vendor/fonts/fonts.css);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #f6f6f6;
  padding-top: 18px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 13px;
  padding-right: 10px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-adaptive {
  display: none;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__search {
  display: flex;
  align-items: center;
  max-width: 532px;
  height: 40px;
  width: 100%;
  display: flex;
  border: 1px solid #cfcfcf;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 12px;
}

.search__label {
  color: rgb(1, 1, 1);
  font-size: 17px;
  font-weight: 600;
  line-height: 40px;
  text-transform: capitalize;
  margin-right: 8px;
}
.header__input-1 {
  max-width: 206px;
  width: 100%;
  background-color: #f6f6f6;
  margin-right: 27px;
  font-size: 17px;
  font-weight: 400;
  line-height: 38px;
}
.header__input-1::placeholder {
  color: rgb(1, 1, 1);
  text-transform: capitalize;
}
.search__line {
  width: 1px;
  height: 28px;
  background-color: #cfcfcf;
  margin-right: 16px;
}
.header__input-2 {
  max-width: 154px;
  width: 100%;
  color: rgb(1, 1, 1);
  background-color: #f6f6f6;
  font-size: 17px;
  font-weight: 400;
  line-height: 38px;
}
.header__input-2::placeholder {
  color: rgb(1, 1, 1);
  text-transform: capitalize;
}

.search__btn {
  padding: 8.5px 14px;
  background-color: #754040;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 20px;
}

.header__location {
  position: relative;
}
.location__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -11px;
  right: -10px;
  width: 165px;
  height: 0px;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 8px 0px rgba(134, 135, 137, 0.25);
  background: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  z-index: 2;
}
.location__container-close {
  position: relative;
  margin-bottom: 18px;
}
.location__container-close img {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.location {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 11px 0px;
  cursor: pointer;
}
.location span {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
}
@media (max-width: 920px) {
  .header {
    max-width: 620px;
  }
  .header__search {
    display: none;
  }
  .search__btn {
    display: none;
  }
}
@media (max-width: 620px) {
  body {
    padding-top: 0px;
  }
  .header {
    border-bottom: 1px solid rgb(213, 216, 218);
    background-color: rgb(255, 255, 255);
    padding-top: 11.5px;
    padding-bottom: 15.5px;
    padding-left: 0px;
  }

  .header__logo {
    display: none;
  }
  .header__logo-adaptive {
    display: flex;
    justify-self: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .location__container {
    top: -1px;
    right: 0px;
  }
}
/* теги */
.bread__crumbs {
  background-color: #424242;
  padding: 12px 0px;
  margin-top: 20px;
  margin-bottom: 28px;
}
.bread__crumbs-text {
  max-width: 1220px;
  padding-left: 10px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
}
.bread__crumbs-text a {
  color: rgba(255, 255, 255, 1);
}
.bread__crumbs-text span {
  margin-left: 5.5px;
  margin-right: 1.5px;
}
@media (max-width: 920px) {
  .bread__crumbs-text {
    max-width: 614px;
  }
}
@media (max-width: 620px) {
  .bread__crumbs {
    display: none;
  }
}
/* рестораны */
.restaurants {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 18px;
}
@media (max-width: 1225px) {
  .restaurants {
    max-width: 925px;
  }
}
@media (max-width: 920px) {
  .restaurants {
    max-width: 614px;
  }
}

.restaurants__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10.5px;
}
.restaurants__header h1 {
  font-family: Akrobat-Regular;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-transform: capitalize;
  margin-left: 8px;
}
.restaurants__header div {
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  opacity: 60%;
  margin-bottom: 4px;
  margin-right: 20px;
}
.restaurants__header div::first-letter {
  text-transform: capitalize;
}
.restaurants__header div:hover {
  opacity: 100%;
}
@media (max-width: 620px) {
  .restaurants {
    margin-top: 24px;
  }
  .restaurants__header h1 {
    font-size: 24px;
    line-height: 28.8px;
  }
  .restaurants__header div {
    display: none;
  }
}
.restaurants__items-row {
  position: relative;
}
.restaurants__item {
  width: 100%;
}
.restaurants__img {
  width: 100%;
  height: 192px;
  background-image: url(../images/restaurant.png);
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 8.5px;
}
.restaurants__open {
  display: inline-block;
  padding: 8px 12px;
  margin-top: 8.5px;
  margin-left: 8px;
  backdrop-filter: blur(48px);
  background: rgba(47, 34, 36, 0.16);
  border-radius: 16px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16.25px;
  color: rgba(208, 200, 201, 1);
}
.restaurants__open::first-letter {
  text-transform: capitalize;
}
.restaurants__open span {
  color: rgba(246, 244, 244, 1);
}
.restaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.description__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.description__left-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1.5px;
  color: rgb(91, 72, 74);
  text-transform: capitalize;
}
.description__left-location {
  color: rgb(132, 113, 115, 1);
  font-size: 11px;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 2.5px;
}
.description__left-kitchen {
  display: flex;
  align-items: center;
  margin-bottom: 2.5px;
}
.description__left-kitchen span {
  margin-left: 10.5px;
  color: rgba(88, 75, 77, 1);
  font-size: 11px;
  font-weight: 500;
  line-height: 125%;
  text-transform: capitalize;
}
.description__left-price {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.price__line {
  width: 1px;
  height: 16px;
  background-color: rgba(171, 156, 158, 1);
  border-radius: 2px;
}
.price__receipt {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.price__receipt span {
  color: rgb(88, 75, 77);
  font-size: 11px;
  font-weight: 500;
  line-height: 125%;
  white-space: nowrap;
}
.price__receipt span::first-letter {
  text-transform: capitalize;
}
.description__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.description__right-rate {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 4px;
}
.adaptive__price {
  display: none;
}

.description__right-rate span:nth-child(2) {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: rgba(167, 37, 54, 1);
}
.description__right-rate span:last-child {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: rgba(171, 156, 158, 1);
}
.description__right-road {
  display: flex;
  align-items: center;
  column-gap: 6.5px;
  margin-bottom: 4px;
}
.description__right-road span {
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  color: rgba(88, 75, 77, 1);
}
.description__right-length {
  font-size: 11px;
  font-weight: 700;
  line-height: 13.75px;
  color: rgba(132, 113, 115, 1);
}
/* cлайдер */
.swiper {
  padding: 0px 8px;
}
.swiper-button-prev-img {
  position: absolute;
  bottom: 47%;
  left: -15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 246, 246, 1);
  z-index: 3;
  cursor: pointer;
}

.swiper-button-next-img {
  position: absolute;
  bottom: 48%;
  right: -15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 246, 246, 1);
  z-index: 3;
  cursor: pointer;
}
.swiper-button-disabled {
  opacity: 0;
}
/* .swiper-button-disabled:hover {
  opacity: 0;
} */
.swiper-button-next-img:hover {
  opacity: 1 !important;
  /* background-color: aqua; */
}
.swiper-button-prev-img:hover {
  opacity: 1 !important;
  background-color: none;
}
/* .swiper-button-prev-img:hover path {
  fill: #583030 !important;
} */
.swiper-button-next-img:hover path {
  fill: #754040 !important;
}
.swiper-button-prev-img svg {
  transform: rotate(180deg);
}
@media (max-width: 620px) {
  .description__left-title {
    font-size: 20px;
    margin-bottom: 4px;
  }
  .description__left-location {
    font-size: 13px;
  }
  .description__left-kitchen span {
    font-size: 13px;
  }
  .description__left-price {
    display: none;
  }
  .order__0 {
    order: 1;
  }
  .description__right-rate span:nth-child(2) {
    font-size: 16px;
  }
  .description__right-rate span:last-child {
    display: none;
  }
  .description__right-road {
    display: none;
  }
  .description__right-length {
    display: none;
  }
  .adaptive__price {
    display: flex;
  }
  .swiper-button-prev-img {
    display: none;
  }

  .swiper-button-next-img {
    display: none;
  }
}
@media (max-width: 325px) {
  .description__left-kitchen span {
    margin-left: 7.5px;
  }
}

.location__container-active {
  height: 112px;
  padding: 10px 18px 4px 18px;
}

/* переделать контейнер языков */
/* user select */
